#iChoiceButton{
    -fx-background-radius :  40;
     -fx-color :#f6b878;
     -fx-text-fill : #000000;
     -fx-font-family: "Comic Sans MS";
     -fx-font-size: 17;
}
#iParseFileButton{
    -fx-background-radius :  40;
    -fx-color :#f6b878;
    -fx-text-fill : #000000;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 17;
}
#iWriteButton{
    -fx-background-radius :  40;
     -fx-color :#f6b878;
     -fx-text-fill : #000000;
     -fx-font-family: "Comic Sans MS";
     -fx-font-size: 17;
}

#iInputFilename{
 -fx-background-radius :  40;
 -fx-font-family: "Comic Sans MS";
}


#iVBox{
 -fx-background-color: #f6f5f0;
}

#iExamples{
-fx-font-style: normal;
-fx-font-size: 25;
-fx-font-family: "Comic Sans MS";
 -fx-font-stretch: normal;
}

#iAnswers{
-fx-font-style: normal;
 -fx-font-size: 25;
 -fx-font-family: "Comic Sans MS";
 -fx-font-stretch: normal;
}

#iPrimer{
 -fx-background-color: #f6b878;
 -fx-font-size: 20;
}

#iOtvet{
-fx-background-color: #f6b878;
-fx-font-size: 20;

}

#iChoiceButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}
#iChoiceButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}
#iParseFileButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}
#iParseFileButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}
#iWriteButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}
#iWriteButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
-fx-font-family: "Comic Sans MS";
-fx-font-size: 17;
}



