#iChoiceButton{
    -fx-background-radius :  40;
     -fx-color :#f6b878;
     -fx-text-fill : #000000;
}
#iParseFileButton{
    -fx-background-radius :  40;
    -fx-color :#f6b878;
    -fx-text-fill : #000000;
}
#iWriteButton{
    -fx-background-radius :  40;
     -fx-color :#f6b878;
     -fx-text-fill : #000000;
}

#iInputFilename{
 -fx-background-radius :  40;
}


#iVBox{
 -fx-background-color: #f6f5f0;
}

#iChoiceButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
}
#iChoiceButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
}
#iParseFileButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
}
#iParseFileButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
}
#iWriteButton:hover
{
-fx-background-color : #d0d9b6 ;
-fx-background-radius :  30;
-fx-text-fill : #000000;
}
#iWriteButton:pressed
{
-fx-text-fill : #fff ;
-fx-background-radius :  30;
}



